= render :partial => "shared/initial_letter_paginations"

.table-caption
  %i.small.material-icons high_quality
  %span Hi-Res
%table.highlight
  %thead
    %tr
      %th Artists
      %th Tracks
      %th.right-edge Albums
  %tbody
    - @tracks.each do |track|
      %tr.track-item
        %td.artist-name
          %a{:href => "/tracks?artist_id=#{track.artist.id}"} #{track.artist.name}
        %td.track-name #{track.name}
        %td.album-name.right-edge
          %a{:href => "/tracks?album_id=#{track.album.id}"} #{track.album.name}

= render :partial => "shared/initial_letter_paginations"
= render :partial => "shared/track_modal"
