= render :partial => "shared/initial_letter_paginations"

.table-caption
  %i.small.material-icons high_quality
  %span Hi-Res
%table.highlight
  %thead
    %tr
      %th Artists
      %th Tracks
      %th.right-edge Albums
      - if @current_admin.present?
        %th.right-edge
        %th.right-edge
  %tbody
    - @tracks.each do |track|
      %tr.track-item
        %td.artist-name
          %a{:href => "/tracks?artist_id=#{track.artist.id}"} #{track.artist.name}
        %td.track-name #{track.name}
        %td.album-name.right-edge
          %a{:href => "/tracks?album_id=#{track.album.id}"} #{track.album.name}
        - if @current_admin.present?
          %td.right-edge{:style => "width: 60px;"}
            = link_to(edit_track_path(track)) do
              %i.small.material-icons edit
          %td.right-edge{:style => "width: 60px;"}
            = link_to(track_path(track), method: :delete, data: { confirm: 'Are you sure to delete?' }) do
              %i.small.material-icons delete


= render :partial => "shared/initial_letter_paginations"
= render :partial => "shared/track_modal"
