- url = @album.new_record? ? albums_path : album_path(@album)

= render 'shared/form_errors', model: @album

= form_with model: @album, url: url, local: true do |f|
  %br
  = f.label(:name)
  = f.text_field(:name)
  %br
  = f.label(:phonetic_name)
  = f.text_field(:phonetic_name)
  %br
  = f.label(:furigana)
  = f.text_field(:furigana)
  %br
  = f.label(:artist_id)
  = f.hidden_field(:artist_id)
  = f.text_field(:artist_query, placeholder: "name")
  %br
  = f.submit(class: 'btn')
